/* styles/globals.css */
@import 'bootstrap/dist/css/bootstrap.min.css';


.totalUsers--container,.totalWorkers--container{
  box-shadow: 2px 1px 1px 2px rgb(218, 218, 218);
  padding:20px;
  margin-top:50px;
}
.totalSettlements--container{
  box-shadow: 2px 1px 1px 2px rgb(218, 218, 218);
  padding:20px;
  margin-top:30px;
}
.loginForm{
  margin-top:10px;
}
.loginForm input{
  margin-top:20px;
}
.loginForm--container{
  height:100vh;
  width:100vw;
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.loginForm--container button{
  margin-top:30px;
  width:100%;
}
.loginForm--container input{
  width:100%;
  height:50px;
  padding-left:20px;
}
.loginForm--container img{
  border-radius:50%;
  margin-top:-50px;
  margin-bottom:50px;
}
.totalUsers--container .usersContainer{
  height:500px;
  overflow:auto;
  margin-top:20px;
}
.totalWorkers--container .workersContainer{
  height:500px;
  overflow:auto;
  margin-top:20px; 
}
.totalWorkers--container .indvUserContainer{
  padding:20px;
  background:rgba(240,240,240);
  margin-top:10px;
}

.totalUsers--container .indvUserContainer{
  padding:20px;
  background:rgba(240,240,240);
  margin-top:10px;
}